{% load static %}


<!-- JavaScript files-->
<script src="{% static 'frontend/vendor/jquery/jquery.min.js' %}"></script>

<script src="{% static 'frontend/vendor/popper.js/umd/popper.min.js' %}"></script>

<script src="{% static 'frontend/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'frontend/vendor/jquery.cookie/jquery.cookie.js' %}"></script>

<script src="{% static 'frontend/vendor/@fancyapps/fancybox/jquery.fancybox.min.js' %}"></script>

<script src="{% static 'frontend/js/front.js' %}"></script>

<!-- ===================================scripts for contact page==============================-->
<!--===============================================================================================-->
<script src="{% static 'frontend/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'frontend/js/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'frontend/js/moment.min.js' %}"></script>
<script src="{% static 'frontend/js/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'frontend/js/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'frontend/js/contact_main.js' %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
